.container{
    width: 100vw;
        height: 100vh;
    
      .layout{
        display: flex;
        gap: 1rem;

        .filtro{
            width: 20%;
            height: 80vh;
            display: block
                }
        .votos{
            width: 80%; 
        }
      }
}

.candidato{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    
  } 