.container{
    width: 100vw;
        height: 100vh;
    .candidatos{
        display: flex;
        gap: 1rem;
        width: 100vw;
        justify-content: space-around;
        align-items: center;
      } 
      .layout{
        display: flex;
        gap: 1rem;

        .filtro{
            width: 20%;
            height: 80vh;
        }
        .votos{
            display: block;
            width: 80%;

        }
      }
}
