*/ Estilos para el componente Filtro */
.filtro {
  text-align: center;
  margin-bottom: 20px;
}

.filtro label {
  font-size: 18px;
  margin-right: 10px;
}

.filtro select {
  padding: 5px 10px;
  font-size: 16px;
}